[Unit]
Description=React tutorial
After=network.target

[Service]
ExecStart=/www/ReactTutorial/server.js
Restart=always
User=nobody
Group=nobody
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/www/ReactTutorial/

[Install]
WantedBy=multi-user.target
